/* ///////// */
/* all cards */
/* ///////// */

#boozer-logo,
#snippet-logo,
#techvault-logo,
#foreteller-logo {
  width: 40%;
  margin: 10px 0px;
}

#boozer-details,
#snippet-details,
#techvault-details,
#foreteller-details {
  display: none;
}

#boozer-screenshots,
#snippet-screenshots,
#techvault-screenshots,
#foreteller-screenshots {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.boozer-screenshot,
.snippet-screenshot,
.techvault-screenshot,
.foreteller-screenshot {
  height: 225px;
  margin-bottom: 5px;
}

.snippet-screenshot,
.techvault-screenshot {
  border: 1px solid #d1d1d1;
}

/* /////////// */
/* boozer card */
/* /////////// */

#boozer-card {
  grid-column: 1/1;
  grid-row: 1/1;
}

#boozer-header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    20deg,
    rgba(0, 0, 0, 1) 15%,
    rgba(126, 126, 126, 1) 80%,
    rgba(176, 176, 176, 1) 100%
  );
}

/* //////////// */
/* snippet card */
/* //////////// */

#snippet-card {
  grid-column: 2/2;
  grid-row: 1/1;
}

#snippet-header {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    rgb(255, 255, 255) 30%,
    rgb(250, 177, 177) 70%,
    rgb(255, 136, 138) 100%
  );
}

/* ////////// */
/* techvault */
/* ////////// */

#techvault-card {
  grid-column: 1/1;
  grid-row: 2/2;
}

#techvault-header {
  background: rgb(243, 239, 254);
  background: radial-gradient(
    circle,
    rgba(243, 239, 254, 1) 0%,
    rgba(248, 216, 96, 1) 100%
  );
}

/* ////////// */
/* foreteller */
/* ////////// */

#foreteller-card {
  grid-column: 2/2;
  grid-row: 2/2;
}

#foreteller-header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    10deg,
    rgb(246, 214, 191) 20%,
    rgb(213, 202, 201) 50%,
    rgb(158, 163, 186) 100%
  );
}

/* /////////// */
/* breakpoints */
/* /////////// */

/* 1920px */

@media screen and (max-width: 1920px) {
  #boozer-logo,
  #snippet-logo,
  #foreteller-logo,
  #techvault-logo {
    width: 50%;
  }

  .boozer-screenshot,
  .snippet-screenshot,
  .foreteller-screenshot,
  .techvault-screenshot {
    height: 253px;
    margin-bottom: 10px;
  }
}

/* 1536px */

@media screen and (max-width: 1536px) {
  .boozer-screenshot,
  .snippet-screenshot,
  .foreteller-screenshot,
  .techvault-screenshot {
    height: 202px;
  }
}

/* 1367px */

@media screen and (max-width: 1367px) {
  .boozer-screenshot,
  .snippet-screenshot,
  .foreteller-screenshot,
  .techvault-screenshot {
    height: 180px;
  }
}

/* 1025px */

@media screen and (max-width: 1025px) {
  .boozer-screenshot,
  .snippet-screenshot,
  .foreteller-screenshot,
  .techvault-screenshot {
    height: 134px;
  }
}

/* 951px */

@media screen and (max-width: 951px) {
  .boozer-screenshot,
  .snippet-screenshot,
  .foreteller-screenshot,
  .techvault-screenshot {
    height: 124px;
  }
}

/* 768px */

@media screen and (max-width: 768px) {
  .boozer-screenshot,
  .snippet-screenshot,
  .foreteller-screenshot,
  .techvault-screenshot {
    height: 101px;
    margin-bottom: 5px;
  }
}

/* 668px */

@media screen and (max-width: 668px) {
  .boozer-screenshot,
  .snippet-screenshot,
  .foreteller-screenshot,
  .techvault-screenshot {
    height: 98px;
  }
}

/* 376px */

@media screen and (max-width: 376px) {
  #boozer-logo,
  #snippet-logo,
  #foreteller-logo,
  #techvault-logo {
    width: 40%;
    margin: 10px 0px;
  }

  .boozer-screenshot,
  .snippet-screenshot,
  .foreteller-screenshot,
  .techvault-screenshot {
    height: 116px;
  }
}
