#contact-content {
  position: absolute;
  top: 100px;
  right: 0px;
  left: 0px;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

#contact-text {
  font-family: Urbanist, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #424242;
  margin: 0;
}

#cv-download,
#cv-download:visited {
  font-family: Urbanist, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #424242;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #e2e2e2;
  border-radius: 3px;
}

#cv-download:hover {
  cursor: pointer;
  /* text-decoration: underline; */
  background-color: #ebebeb;
}

/* contact details */

#contact-card {
  width: 35%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: repeat(auto, 3);
  align-items: center;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.3);
}

.contact-icon {
  font-size: 36px;
  margin: 15px;
}

.contact-type {
  font-family: Urbanist, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #424242;
}

#linkedin-link,
#mail-link {
  text-decoration: none;
  color: #424242;
}

#mail-link:hover {
  cursor: pointer;
  color: #ffd270;
}

#linkedin-link:hover {
  cursor: pointer;
  color: #85b8cc;
}

/* contact details positioning */

#phone-icon {
  grid-column: 1/1;
  grid-row: 1/1;
  justify-self: right;
  color: #85b8cc;
}

#phone-number {
  grid-column: 2/2;
  grid-row: 1/1;
  justify-self: left;
}

#mail-icon {
  grid-column: 1/1;
  grid-row: 2/2;
  justify-self: right;
  color: #ffd270;
}

#mail-address {
  grid-column: 2/2;
  grid-row: 2/2;
  justify-self: left;
}

#linkedin-icon {
  grid-column: 1/1;
  grid-row: 3/3;
  color: #85b8cc;
  justify-self: right;
}

#linkedin-address {
  grid-column: 2/2;
  grid-row: 3/3;
  justify-self: left;
}

/* /////////// */
/* breakpoints */
/* /////////// */

/* tablet landscape 1024px */

@media screen and (max-width: 1024px) {
  #contact-card {
    width: 45%;
  }

  .contact-icon {
    margin: 15px 20px;
  }

  .contact-type {
    font-size: 1.2rem;
  }
}

/* tablet portrait 768px */

@media screen and (max-width: 768px) {
  #contact-card {
    width: 55%;
  }
}

/* mobile 480px */

@media screen and (max-width: 480px) {
  #contact-content {
    top: 140px;
    width: 95vw;
  }

  #contact-text {
    font-size: 1rem;
  }

  #contact-card {
    width: 75%;
    margin: 30px auto;
  }

  .contact-icon {
    font-size: 30px;
    margin: 10px 15px;
  }

  .contact-type {
    font-size: 1rem;
  }
}

/* mobile 375px */

@media screen and (max-width: 376px) {
  #contact-content {
    top: 140px;
    width: 85vw;
  }

  #contact-text {
    font-size: 1rem;
  }

  #contact-card {
    width: 85%;
    margin: 30px auto;
  }

  .contact-icon {
    font-size: 27px;
    margin: 10px 10px;
  }

  .contact-type {
    font-size: 0.9rem;
  }
}
