#about-content {
  position: absolute;
  top: 100px;
  right: 0px;
  left: 0px;
  width: 85vw;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  justify-items: center;
}

/* left column - profile */

#profile {
  grid-column: 1/1;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
}

#profile-img {
  grid-column: 1/1;
  width: 75%;
  border-radius: 100%;
}

/* right column - bio */

#bio {
  grid-column: 2/2;
  width: 100%;
}

#bio-name {
  font-family: Urbanist, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #7e4334;
  margin: 0px;
  margin-bottom: 7px;
}

.bio-text {
  font-family: Urbanist, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1rem;
  color: #572f23;
  margin: 0px;
}

.bio-link,
.bio-link:visited {
  text-decoration: none;
  font-weight: 700;
  color: #572f23;
}

.bio-link:hover {
  cursor: pointer;
  color: #bb634d;
}

/* right column - dev icons */

#icons {
  grid-column: 2/2;
  padding: 0px;
  margin-top: 10px;
  text-align: center;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(120, 95, 80, 0.2);
}

#icons li {
  display: inline-block;
}

.icon {
  width: 32px;
  margin: 0px 10px;
  margin-top: 3px;
}
