#about-content {
  position: absolute;
  top: 96px;
  right: 0px;
  left: 0px;
  width: 85vw;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  justify-items: center;
  /* border: 1px solid black; */
}

/* bio images */

#images {
  /* border: solid 1px black; */
  grid-column: 1/1;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
}

#profile {
  grid-column: 1/1;
  width: 70%;
  border: 1.3px solid #808080;
  border-radius: 100%;
}

#icons {
  grid-column: 1/1;
  padding: 0px;
}

#icons li {
  display: inline-block;
}

.icon {
  width: 32px;
  padding: 0px 3px;
}

/* bio text */

#bio {
  /* border: 1px solid black; */
  grid-column: 2/2;
  width: 100%;
}

#bio-name {
  font-family: Urbanist, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #5e828d;
  margin: 0px;
  margin-bottom: 7px;
}

.bio-text {
  font-family: Urbanist, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1rem;
  color: #424242;
  margin: 0px;
}
