#nav {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0px;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(109, 109, 109, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* name */

#name {
  grid-column: 1/1;
  justify-self: left;
  margin: 0px;
  margin-left: 1rem;
  font-family: Urbanist, sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

#name-blue {
  color: #85b8cc;
}

#name-yellow {
  color: #ffd270;
}

/* links */

#links {
  grid-column: 2/2;
  justify-self: right;
  margin: 0px;
  margin-right: 1rem;
}

#links li {
  display: inline-block;
  font-family: Urbanist, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0px 20px;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: #424242;
}

#about:hover {
  background-size: 1px 1em;
  box-shadow: inset 0 -0.1em white, inset 0 -0.17em #85b8cc;
}

#projects:hover {
  text-shadow: -1px -1px white, -1px 1px white, 1px -1px white, 1px 1px white;
  background-size: 1px 1em;
  box-shadow: inset 0 -0.1em white, inset 0 -0.17em #ffd270;
}

#contact:hover {
  background-size: 1px 1em;
  box-shadow: inset 0 -0.1em white, inset 0 -0.17em #85b8cc;
}

/* /////////////// */
/* smaller screens */
/* /////////////// */

/* mobile 480px */

@media screen and (max-width: 480px) {
  #nav {
    grid-template-rows: repeat(auto, 2);
  }

  #name {
    grid-row: 1/1;
    font-size: 4rem;
    justify-self: center;
    margin: 0px;
  }

  #links {
    grid-column: 1/1;
    grid-row: 2/2;
    justify-self: center;
    margin: 0px;
    padding: 0px;
  }

  #links li {
    font-size: 1.4rem;
    margin: 0px 8px;
    margin-bottom: 10px;
  }
}
