#projects-content {
  position: absolute;
  top: 100px;
  right: 0px;
  left: 0px;
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  font-family: Urbanist, sans-serif;
  justify-items: center;
}

/* ///////// */
/* all cards */
/* ///////// */

.project-card {
  margin: 5%;
  width: 90%;
  margin-top: 0px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.4);
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.3);
  text-align: center;
  align-self: flex-start;
}

.card-header {
  border-radius: 20px;
}

.card-header:hover {
  cursor: pointer;
}

.card-details {
  margin: 0 2%;
}

.intro {
  text-align: left;
  margin: 0px;
  margin-top: 20px;
}

.project-icons {
  padding: 0px;
  margin: 30px 0px;
}

.project-icons li {
  display: inline-block;
}

.project-icon {
  width: 35px;
  margin: 0px 5px;
}

.screenshots {
  margin: 0px;
}

.view-button {
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 3px;
  background-color: #e2e2e2;
  margin-bottom: 15px;
}

.view-button-txt {
  font-family: Urbanist, sans-serif;
  color: #424242;
  font-weight: 600;
  text-decoration: none;
}

.view-button:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

/* jQuery toggle class */

.active {
  border-radius: 20px 20px 0px 0px;
}

/* /////////// */
/* breakpoints */
/* /////////// */

/* 1920px */

@media screen and (max-width: 1920px) {
  #projects-content {
    top: 130px;
  }

  .intro {
    font-size: 1.5rem;
  }

  .project-icon {
    width: 64px;
    margin: 0px 10px;
  }

  .view-button {
    width: 10rem;
    height: 3rem;
    font-size: 1.8rem;
    margin: 20px 0px 30px 0px;
  }
}

/* 1536px */

@media screen and (max-width: 1536px) {
  .intro {
    font-size: 1rem;
  }

  .project-icons {
    margin: 15px 0px;
  }

  .project-icon {
    width: 40px;
    margin: 0px 7px;
  }

  .view-button {
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    margin: 10px 0px 20px 0px;
  }
}

/* 951px */

@media screen and (max-width: 951px) {
  .intro {
    font-size: 1rem;
  }

  .project-icons {
    margin: 20px 0px;
  }

  .project-icon {
    width: 40px;
    margin: 0px 7px;
  }

  .view-button {
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
    margin: 10px 0px 20px 0px;
  }
}

/* 1025px */

@media screen and (max-width: 1025px) {
  .intro {
    font-size: 1rem;
  }

  .project-icons {
    margin: 15px 0px;
  }

  .project-icon {
    width: 39px;
    margin: 0px 5px;
  }

  .view-button {
    width: 6.5rem;
    height: 1.9rem;
    font-size: 1.2rem;
    margin: 5px 0px 15px 0px;
  }
}

/* 768px */

@media screen and (max-width: 768px) {
  .intro {
    font-size: 0.8rem;
  }

  .project-icon {
    width: 32px;
  }

  .view-button {
    width: 6rem;
    font-size: 0.9rem;
  }
}

/* 668px */

@media screen and (max-width: 668px) {
  #projects-content {
    top: 80px;
    width: 95vw;
  }

  .card-header {
    border-radius: 13px;
  }

  .project-icon {
    width: 30px;
  }

  .active {
    border-radius: 13px 13px 0px 0px;
  }
}

/* 376px */

@media screen and (max-width: 376px) {
  #projects-content {
    top: 130px;
    width: 100vw;
    display: block;
  }

  .project-card {
    border-radius: 15px;
  }

  .card-header {
    border-radius: 15px;
  }

  .intro {
    font-size: 0.7rem;
  }

  .project-icon {
    width: 30px;
    margin: 0px 4px;
  }

  .view-button {
    width: 5rem;
    font-size: 0.8rem;
    margin: 5px 0px 15px 0px;
  }

  .active {
    border-radius: 15px 15px 0px 0px;
  }
}
